$green: #4b9200;
$orange: linear-gradient(121deg, #f9804b 0%, #fe9013 100%);
$yellow: #ffee2e;
$orange-grad: linear-gradient(340deg, rgba(254, 210, 144, 0.7) 6.48%, #febdab 61.43%, rgba(254, 210, 144, 0.7) 65.63%),
  linear-gradient(
    340deg,
    rgba(254, 189, 171, 0.74) 6.48%,
    rgba(243, 169, 248, 0.66) 22.51%,
    #e0d8f0 45.57%,
    #eaf7fe 82.33%,
    #eaf7fe 99.1%
  ),
  linear-gradient(
    340deg,
    rgba(254, 189, 171, 0.74) 6.48%,
    rgba(243, 169, 248, 0.66) 22.51%,
    #e0d8f0 45.57%,
    #eaf7fe 82.33%,
    #eaf7fe 99.1%
  );
$pink-gradient: linear-gradient(
    340deg,
    rgba(254, 189, 171, 0.74) 6.48%,
    rgba(243, 169, 248, 0.66) 22.51%,
    #e0d8f0 45.57%,
    #eaf7fe 82.33%,
    #eaf7fe 99.1%
  ),
  linear-gradient(
    340deg,
    rgba(254, 189, 171, 0.74) 6.48%,
    rgba(243, 169, 248, 0.66) 22.51%,
    #e0d8f0 45.57%,
    #eaf7fe 82.33%,
    #eaf7fe 99.1%
  );
$red: #d31414;
$black-blue: #333b41;
$gray: #767474;
$gray-smoky: #ababab;
$light-gray: #f1f3f2;
$frosted-glass-white: rgba(253, 253, 255, 0.52);
