.about {
  margin: 0 auto;
  width: 1600px;
  color: $black-blue;
  text-align: left;
  &__container {
    padding: 100px 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1600px;
    background: url("../../images/2.flower.avif") no-repeat;
    background-size: 293px 605px;
    background-position: 1317px center;
  }

  &__img {
    max-width: 455px;
    max-height: 408px;
  }

  &__content {
    width: 454px;
  }

  &__title {
    margin-bottom: 20px;
    width: 100%;
    @include h2;
  }

  &__text {
    width: 100%;
    line-height: 130%;
  }

  &__subtile {
    width: 100%;
    @include subtitle;
    margin-bottom: 35px;
  }
}

.text-1 {
  margin-bottom: 55px;
}
