<about>
  <section class="about" id="about">
    <div class="about__container container">
      <img src="../../../images/2.bamboo-cap.avif" alt="a man with a bamboo cap" class="about__img">
      <div class="about__content">
        <h2 class="about__title">
          The Backstage of the Wilderness World.
        </h2>
        <div class="about__text text-1">
          The site was founded on the basis of a volunteer movement to protect and care for animals.
        </div>
        <h3 class="about__subtile">
          How it works
        </h3>
        <div class="about__text text-2">
          The main goal is to help the animals, as well as the nature reserves and zoos where they are kept. We are
          currently
          working on video projects targeting pandas in China, eagles on an island near Los Angeles, alligators in
          Florida and
          gorillas in the Congo. These have a total of more than 1,500 mammals and reptiles.
        </div>
      </div>
    </div>
  </section>
</about>