<animal-species>
  <section class="animal-species">
    <div class="animal-species__container container">
      <div class="animal-species__wrapper">
        <button class="slider__controls">
          <svg class="icon">
            <use xlink:href="./../../../images/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <div class="slider__layouts">
          <div class="slider__layout">
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-1-guant-pandas.avif" type="image/avif">
                <source srcset="../../../images/3-1-guant-pandas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-1-guant-pandas.jpg" alt="guant pandas">
              </picture>
              <div class="layout__title">
                giant Pandas
              </div>
              <div class="layout__description">
                Native to Southwest China
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-2-eagle.avif" type="image/avif">
                <source srcset="../../../images/3-2-eagle.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-2-eagle.jpg" alt="eagle">
              </picture>
              <div class="layout__title">
                Eagles
              </div>
              <div class="layout__description">
                Native to South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-3-gorillas.avif">
                <source srcset="../../../images/3-3-gorillas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-3-gorillas.jpg" alt="gorillas">
              </picture>
              <div class="layout__title">
                Gorillas
              </div>
              <div class="layout__description">
                Native to Congo
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-4-sloth.avif" type="image/avif">
                <source srcset="../../../images/3-4-sloth.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-4-sloth.jpg" alt="sloth">
              </picture>
              <div class="layout__title">
                Two-toed Sloth
              </div>
              <div class="layout__description">
                Mesoamerica, South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-5-cheetah.avif" type="image/avif">
                <source srcset="../../../images/3-5-cheetah.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-5-cheetah.jpg" alt="cheetah">
              </picture>
              <div class="layout__title">
                cheetahs
              </div>
              <div class="layout__description">
                Native to Africa
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-6-penguins.avif" type="image/avif">
                <source srcset="../../../images/3-6-penguins.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-6-penguins.jpg" alt="penguins">
              </picture>
              <div class="layout__title">
                Penguins
              </div>
              <div class="layout__description">
                Native to Antarctica
              </div>
            </div>
          </div>
          <div class="slider__layout">
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-1-guant-pandas.avif" type="image/avif">
                <source srcset="../../../images/3-1-guant-pandas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-1-guant-pandas.jpg" alt="guant pandas">
              </picture>
              <div class="layout__title">
                giant Pandas
              </div>
              <div class="layout__description">
                Native to Southwest China
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-2-eagle.avif" type="image/avif">
                <source srcset="../../../images/3-2-eagle.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-2-eagle.jpg" alt="eagle">
              </picture>
              <div class="layout__title">
                Eagles
              </div>
              <div class="layout__description">
                Native to South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-3-gorillas.avif">
                <source srcset="../../../images/3-3-gorillas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-3-gorillas.jpg" alt="gorillas">
              </picture>
              <div class="layout__title">
                Gorillas
              </div>
              <div class="layout__description">
                Native to Congo
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-4-sloth.avif" type="image/avif">
                <source srcset="../../../images/3-4-sloth.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-4-sloth.jpg" alt="sloth">
              </picture>
              <div class="layout__title">
                Two-toed Sloth
              </div>
              <div class="layout__description">
                Mesoamerica, South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-5-cheetah.avif" type="image/avif">
                <source srcset="../../../images/3-5-cheetah.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-5-cheetah.jpg" alt="cheetah">
              </picture>
              <div class="layout__title">
                cheetahs
              </div>
              <div class="layout__description">
                Native to Africa
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-6-penguins.avif" type="image/avif">
                <source srcset="../../../images/3-6-penguins.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-6-penguins.jpg" alt="penguins">
              </picture>
              <div class="layout__title">
                Penguins
              </div>
              <div class="layout__description">
                Native to Antarctica
              </div>
            </div>
          </div>
          <div class="slider__layout">
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-1-guant-pandas.avif" type="image/avif">
                <source srcset="../../../images/3-1-guant-pandas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-1-guant-pandas.jpg" alt="guant pandas">
              </picture>
              <div class="layout__title">
                giant Pandas
              </div>
              <div class="layout__description">
                Native to Southwest China
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-2-eagle.avif" type="image/avif">
                <source srcset="../../../images/3-2-eagle.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-2-eagle.jpg" alt="eagle">
              </picture>
              <div class="layout__title">
                Eagles
              </div>
              <div class="layout__description">
                Native to South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-3-gorillas.avif">
                <source srcset="../../../images/3-3-gorillas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-3-gorillas.jpg" alt="gorillas">
              </picture>
              <div class="layout__title">
                Gorillas
              </div>
              <div class="layout__description">
                Native to Congo
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-4-sloth.avif" type="image/avif">
                <source srcset="../../../images/3-4-sloth.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-4-sloth.jpg" alt="sloth">
              </picture>
              <div class="layout__title">
                Two-toed Sloth
              </div>
              <div class="layout__description">
                Mesoamerica, South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-5-cheetah.avif" type="image/avif">
                <source srcset="../../../images/3-5-cheetah.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-5-cheetah.jpg" alt="cheetah">
              </picture>
              <div class="layout__title">
                cheetahs
              </div>
              <div class="layout__description">
                Native to Africa
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-6-penguins.avif" type="image/avif">
                <source srcset="../../../images/3-6-penguins.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-6-penguins.jpg" alt="penguins">
              </picture>
              <div class="layout__title">
                Penguins
              </div>
              <div class="layout__description">
                Native to Antarctica
              </div>
            </div>
          </div>
          <div class="slider__layout">
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-1-guant-pandas.avif" type="image/avif">
                <source srcset="../../../images/3-1-guant-pandas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-1-guant-pandas.jpg" alt="guant pandas">
              </picture>
              <div class="layout__title">
                giant Pandas
              </div>
              <div class="layout__description">
                Native to Southwest China
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-2-eagle.avif" type="image/avif">
                <source srcset="../../../images/3-2-eagle.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-2-eagle.jpg" alt="eagle">
              </picture>
              <div class="layout__title">
                Eagles
              </div>
              <div class="layout__description">
                Native to South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-3-gorillas.avif">
                <source srcset="../../../images/3-3-gorillas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-3-gorillas.jpg" alt="gorillas">
              </picture>
              <div class="layout__title">
                Gorillas
              </div>
              <div class="layout__description">
                Native to Congo
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-4-sloth.avif" type="image/avif">
                <source srcset="../../../images/3-4-sloth.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-4-sloth.jpg" alt="sloth">
              </picture>
              <div class="layout__title">
                Two-toed Sloth
              </div>
              <div class="layout__description">
                Mesoamerica, South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-5-cheetah.avif" type="image/avif">
                <source srcset="../../../images/3-5-cheetah.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-5-cheetah.jpg" alt="cheetah">
              </picture>
              <div class="layout__title">
                cheetahs
              </div>
              <div class="layout__description">
                Native to Africa
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-6-penguins.avif" type="image/avif">
                <source srcset="../../../images/3-6-penguins.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-6-penguins.jpg" alt="penguins">
              </picture>
              <div class="layout__title">
                Penguins
              </div>
              <div class="layout__description">
                Native to Antarctica
              </div>
            </div>
          </div>
          <div class="slider__layout">
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-1-guant-pandas.avif" type="image/avif">
                <source srcset="../../../images/3-1-guant-pandas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-1-guant-pandas.jpg" alt="guant pandas">
              </picture>
              <div class="layout__title">
                giant Pandas
              </div>
              <div class="layout__description">
                Native to Southwest China
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-2-eagle.avif" type="image/avif">
                <source srcset="../../../images/3-2-eagle.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-2-eagle.jpg" alt="eagle">
              </picture>
              <div class="layout__title">
                Eagles
              </div>
              <div class="layout__description">
                Native to South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-3-gorillas.avif">
                <source srcset="../../../images/3-3-gorillas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-3-gorillas.jpg" alt="gorillas">
              </picture>
              <div class="layout__title">
                Gorillas
              </div>
              <div class="layout__description">
                Native to Congo
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-4-sloth.avif" type="image/avif">
                <source srcset="../../../images/3-4-sloth.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-4-sloth.jpg" alt="sloth">
              </picture>
              <div class="layout__title">
                Two-toed Sloth
              </div>
              <div class="layout__description">
                Mesoamerica, South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-5-cheetah.avif" type="image/avif">
                <source srcset="../../../images/3-5-cheetah.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-5-cheetah.jpg" alt="cheetah">
              </picture>
              <div class="layout__title">
                cheetahs
              </div>
              <div class="layout__description">
                Native to Africa
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-6-penguins.avif" type="image/avif">
                <source srcset="../../../images/3-6-penguins.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-6-penguins.jpg" alt="penguins">
              </picture>
              <div class="layout__title">
                Penguins
              </div>
              <div class="layout__description">
                Native to Antarctica
              </div>
            </div>
          </div>
          <div class="slider__layout">
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-1-guant-pandas.avif" type="image/avif">
                <source srcset="../../../images/3-1-guant-pandas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-1-guant-pandas.jpg" alt="guant pandas">
              </picture>
              <div class="layout__title">
                giant Pandas
              </div>
              <div class="layout__description">
                Native to Southwest China
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-2-eagle.avif" type="image/avif">
                <source srcset="../../../images/3-2-eagle.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-2-eagle.jpg" alt="eagle">
              </picture>
              <div class="layout__title">
                Eagles
              </div>
              <div class="layout__description">
                Native to South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-3-gorillas.avif">
                <source srcset="../../../images/3-3-gorillas.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-3-gorillas.jpg" alt="gorillas">
              </picture>
              <div class="layout__title">
                Gorillas
              </div>
              <div class="layout__description">
                Native to Congo
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-4-sloth.avif" type="image/avif">
                <source srcset="../../../images/3-4-sloth.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-4-sloth.jpg" alt="sloth">
              </picture>
              <div class="layout__title">
                Two-toed Sloth
              </div>
              <div class="layout__description">
                Mesoamerica, South America
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-5-cheetah.avif" type="image/avif">
                <source srcset="../../../images/3-5-cheetah.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-5-cheetah.jpg" alt="cheetah">
              </picture>
              <div class="layout__title">
                cheetahs
              </div>
              <div class="layout__description">
                Native to Africa
              </div>
            </div>
            <div class="layout__item">
              <picture>
                <source srcset="../../../images/3-6-penguins.avif" type="image/avif">
                <source srcset="../../../images/3-6-penguins.webp" type="image/webp">
                <img class="layout__img" src="../../../images/3-6-penguins.jpg" alt="penguins">
              </picture>
              <div class="layout__title">
                Penguins
              </div>
              <div class="layout__description">
                Native to Antarctica
              </div>
            </div>
          </div>
          </ class="slider__layouts">
        </div>
        <button class="slider__controls">
          <svg class="icon">
            <use xlink:href="./../../../images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <button class="animal-species__btn btn">
        choose your favorite
      </button>
    </div>
  </section>
</animal-species>