<footer class="footer">
  <div class="footer__container container">
    <div class="footer__up">
      <!--=include blocks/logo.html -->

      <div class="footer__subscribe-block subscribe-block">
        <label for="mail" class="subscribe-block__label">Subscribe to our news</label>
        <div class="subscribe-block__action">
          <input type="text" class="subscribe-block__input" id="mail" placeholder="Enter your email">
          <button class="subscribe-block__btn">Submit</button>
        </div>
      </div>
    </div>
    <button class="footer__donate-btn btn">donate for volunteers</button>
    <div class="footer__down">
      <div class="footer__socials socials">
        <a href="#" class="socials__link">
          <svg class="icon">
            <use xlink:href="./../images/sprite.svg#facebook"></use>
          </svg>
          <div class="link-name">Facebook</div>
        </a>
        <a href="#" class="socials__link">
          <svg class="icon">
            <use xlink:href="./../images/sprite.svg#twitter"></use>
          </svg>
          <div class="link-name">Twitter</div>
        </a>
        <a href="#" class="socials__link">
          <svg class="icon">
            <use xlink:href="./../images/sprite.svg#instagram"></use>
          </svg>
          <div class="link-name">Instagram</div>
        </a>
        <a href="#" class="socials__link">
          <svg class="icon">
            <use xlink:href="./../images/sprite.svg#youtube"></use>
          </svg>
          <div class="link-name">YouTube</div>
        </a>
      </div>
      <nav class="footer__navigation">
        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link">About</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Map</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Zoos</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Contact us</a>
          </li>
        </ul>
      </nav>

      <div class="footer__info">
        <p>Designed by Alisa Samborskaya</p>
        <p>©RSSchool & ©Yem Digital 2021</p>

      </div>
    </div>
  </div>
</footer>