<header class="header">
  <div class="header__container container">

    <!--=include blocks/logo.html -->


    <nav class="header__navigation">
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Map</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Zoos</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Donate</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact us</a>
        </li>
      </ul>

      <a href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online?fuid=1038424366138890951"
        class="author" target="_blank">
        Designed by ©
      </a>
    </nav>
  </div>
</header>